{% extends 'base.html' %}
{% block content %}
<html class="bg-white dark:bg-slate-800 px-6 py-8 ring-1 ring-slate-900/5 shadow-xl" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="text-white">
        ¿Esta seguro de que desea eliminar este post?
        <form method="POST">
            {% csrf_token %}
            {{form}}
            <button type="submit">Eliminar</button>
        </form>
</body>
</html>
{% endblock content %}
