{% extends 'base.html' %}
{% block content %}
    <html lang="en" class="bg-white dark:bg-slate-900 px-6 py-8">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body class="text-white">
        
            HOLA VISITA MI <a class="text-blue-500 font-bold" href="{% url 'blog:home' %}">BLOG AQUI</a>
        
    </body>
    </html>
{% endblock content %}