{% extends "base.html" %}
{% load tailwind_tags %}
{% tailwind_css %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
<a href="{% url 'blog:home' %}" class="text-white absolute top-2 left-2">
    <i class="fas fa-arrow-left text-2xl hover:text-gray-500 transition ease-in-out duration-150"></i>
</a>
<div class="min-h-screen bg-gray-900 flex items-center justify-center">
    <div class="w-full max-w-lg">
        <form class="bg-gray-800 rounded-xl px-12 pt-10 pb-10 mb-4" method="post" action="{% url 'usuario:logout' %}">
            {% csrf_token %}
            <h1 class="text-white text-3xl mb-6">Cerrar sesión</h1>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Cerrar sesión
            </button>
        </form>
        <p class="text-center text-gray-500 text-xs">
            &copy;2023. Todos los derechos reservados.
        </p>
    </div>
</div>
{% endblock %}
