{% extends "base.html" %}
{% load tailwind_tags %}
{% tailwind_css %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
<a href="{% url 'blog:home' %}" class="text-white absolute top-2 left-2">
    <i class="fas fa-arrow-left text-2xl hover:text-gray-500 transition ease-in-out duration-150"></i>
</a>
<div class="min-h-screen bg-gray-900 flex items-center justify-center">
    <div class="w-full max-w-lg">
        <form class="bg-gray-800 rounded-xl px-12 pt-10 pb-10 mb-4" method="post" action="{% url 'password_reset_confirm' uidb64=uidb64 token=token %}">
            {% csrf_token %}
            <h1 class="text-white text-3xl mb-6">Nueva contraseña</h1>
            {% for field in form %}
            <div class="mb-4">
                <label class="block text-white text-sm font-bold mb-2" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if field.errors %}
                    <span class="text-red-500 text-xs italic">{{ field.errors.0 }}</span>
                {% endif %}
                {% if field.widget.input_type == 'password' %}
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="{{ field.id_for_label }}" type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" value="{{ field.value|default:'' }}">
                {% else %}
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="{{ field.id_for_label }}" type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}" value="{{ field.value|default:'' }}">
                {% endif %}
            </div>
            {% endfor %}
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Cambiar contraseña
            </button>
        </form>
        
        <p class="text-center text-gray-500 text-xs">
            &copy;2023. Todos los derechos reservados.
        </p>
    </div>
</div>
{% endblock %}
